
.container-section{
    position: absolute;
        width: 1200px;
        height: 370px;
        left: 0px;
        top: 4414px;
    
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Subcribe.jpg);
}

.title-text{
width: 378px;
    height: 56px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */

    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.main-text{
width: 467px;
    height: 72px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.subscribe-button{
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;

    width: 172px;
    height: 50px;

    background: #FD9222;
    border-radius: 100px;
}