
.container-section{
    position: absolute;
        width: 1200px;
        height: 370px;
        left: 0px;
        top: 4414px;
    
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url();
}

.title-text{

}

.main-text{

}

.subscribe-button{

}