:root {
    --main-bg-color: #FFFFFF;
    --main-pg-color: #4d5ae5;
    --main-vg-color: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--main-bg-color);
}

* {
    margin: 0;
}

.list {
    list-style: none;
}

.logo-header-link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-pg-color);
}

.logo-header-blue{
    text-decoration: none;
    color: var(--main-vg-color);
}

